
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

header {
    background-color: #302327;
    color: #CF9B95;
    padding: 20px;
    text-align: center;
}

header h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

header .logo {
    max-width: 150px;
    margin-bottom: 20px;
    place-content: flex-start;
}

header .dropDown {
    background-color: #CA3E33;
    color: #DFE9E5;
    border: none;
    padding: 10px;
    width: 200px;
    margin: auto;
}

header select {
    width: 100%;
    padding: 10px;
    background-color: #6F99CC;
    color: white;
    border: none;
    font-size: 1rem;
}


h1 {
    background-color: #CF9B95;
    color: #302327;
    border: none;
    padding: 10px;
    width: auto;
    margin: 0 auto;
}


form {
    background-color: #6F99CC;
    color: #DFE9E5;
    border: #302327;
    padding: 10px;
    width: 400px;
    margin: inherit;
    border-radius: 10px;
}

input{
    background-color: #CA3E33;
    color: white;
    border: none;
}

textarea {
    background-color: #CA3E33;
    color: white;
    border: none;
}



button {
    background-color: #CA3E33;
    color: white;
    padding: 10px 10px;
    border: 1px solid #CA3E33;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
}

thead {
    background-color: #CF9B95;
    color: #302327;
    width: auto;
}

tbody {
    background-color: #6F99CC;
    color: white;

}

table {
    background-color: #CF9B95;
    border-radius: 10px;
}


footer {
    background-color: #461B27;
    color: #CF9B95;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer .light-text {
    font-size: 1.2rem;
}