<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>alle attraktioner</title>
    <link rel="stylesheet" href="/frontpage.css">
    <fieldset th:class="links">

        <header><h1>Oversigt over alle attraktioner</h1></header>
        <ul>
            <li><a th:href="@{/attractions/Fuji}">Link to fuji</a></li>
            <br>
            <li><a th:href="@{/attractions/Tokyo Tower}">Link to Tokyo Tower</a></li>
            <br>
            <li><a th:href="@{/attractions/Nara Park}"> Link to Nara Park</a></li>
            <br>
        </ul>
    </fieldset>
</head>
<body>

</body>
</html>