<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/frontpage.css">
    <title>Attractions List</title>
</head>
<body>
    <table>
        <tr th:each="attraction : ${attractions}">
            <th th:text="${attraction.name}"></th>
            <th th:text="${attraction.description}"></th>
            <th><a th:href="@{/attractions/{name}/tags(name=${attraction.getName()})}"><button>tags</button></a></th>
        </tr>
    </table>

    <button>Tilføj Attraction</button>
</body>
</html>