<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/add.css">
    <title>Redigere Attraktion</title>
</head>
<body>
<header>
    <h2></h2>
    <img th:class="logo" src="/logo.png" alt="logo image">
</header>
    <h1 th:text=" 'Redigér ' + ${attraction.name}">Redigerer NAVN</h1>
    <form action="#" th:action="@{/attractions/update/{name} (name=${attraction.getName()})}" th:method="POST" th:object="${attraction}">
         <!-- <div>
            <label>Navn:</label>
            <input type="text" th:field="*{name}" />
        </div>
        -->
        <div>
            <label>Beskrivelse:</label>
            <textarea rows="10" cols="50" th:field="*{description}"></textarea>
        </div>
        <div>
            <label>Tags:</label>
            <div th:each="tag:${tags}">
                <label  th:text="${tag.displayName}">
                </label>
                <input type="checkbox" th:checked="${attraction.tags.contains(tag)}" th:field="*{tags}" th:value="${tag}" />
            </div>
        </div>
        <div>
            <label>By:</label>
            <div th:each="city : ${cities}">
                <label th:text="${city.displayName}">
                </label>
                <input type="radio"
                       name="cities"
                       th:value="${city}"
                       th:checked="${attraction.city.equals(city)}"
                       th:field="*{city}">
            </div>
        </div>
        <div>
            <button type="submit">Update</button>
        </div>

    </form>
<footer>
    <p th:class="light-text"> Studiegruppe 2 <a href="https://github.com/BertramHansen/tourist" target="_blank"> github
        Repo</a></p>
</footer>
</body>
</html>